
.grid_container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10rem;
    margin: 0rem;
    padding: .5rem 10rem .5rem 10rem;
    font-family: 'Work Sans';
    box-shadow: 0rem .25rem 2rem 0rem rgba(0, 0, 0, 0.05);
}
.grid_container .left{
    display: inline-grid;
    gap: 1rem;
    grid-template-columns: .1fr .1fr;
    justify-items: center;
}
.grid_container .left-text{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0rem;
    margin: 0rem;
    }
.grid_container .left-text span{
    color: #ff42a5;
}
.grid_container .left-img{
    margin-top: 2rem;
    size: auto;
    }
.grid_container .right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-around;
    justify-items: stretch;
    align-items: center;
}
.grid_container .right .menu{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}
.grid_container .right .btn{
    display: inline-grid;
    grid-template-columns: 2fr 1fr 1fr;
    background-color: gainsboro;
    justify-items: center;
    border-radius: 5px;
}
.pink-btn{
    background-color:#ff42a5 ;
    border-radius: 2rem;
    border: none;
    color: #fff;
    width: 8rem;
    height: 3rem;
    margin-right: 1rem;
}
.blue-btn{
    background-color: #4EC5F7;
    border-radius: 2rem;
    border: none;
    color: #fff;
    width: 10rem;
    height: 3rem;
}
.white-btn{
    background-color: #fff;
    border-radius: 2rem;

}
.first-benner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0rem;
}
.first-benner .benner-left{
font-family: 'Work Sans';
padding-left:10rem ;
margin-bottom: 5rem;
margin-top: 5rem;
}
.first-benner .benner-left h3{
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0rem;
    /* padding: 8rem 5rem 0rem 0rem; */
}
.first-benner .benner-left h1{
    font-size: 6rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin: 0rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.first-benner .benner-left p{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}
.first-benner .benner-right{
    padding-right: 10rem;
    margin-top: 5rem;
}
.first-benner .benner-right img{
    width: 100%;
}
.first-benner .benner-left .ico1{
    display: grid;
    grid-template-columns: .15fr 2fr;
    align-items: center;
}
.first-benner .benner-left .ico2{
    display: grid;
    grid-template-columns: .15fr 2fr;
    align-items: center;
}
.first-benner .benner-left .ico3{
    display: grid;
    grid-template-columns: .15fr 2fr;
    align-items: center;
}
.second-benner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0rem;
    align-items: center;
    padding-top: 0rem;
    background-color: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.second-benner .second-benner-left img{
    width: 80%;
    padding-left: 10rem;
}
.second-benner .second-benner-right{
    font-family: 'Work Sans';
    padding-right:10rem;
    text-align: end;
}
.second-benner .second-benner-right h3{
    text-align: right;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.second-benner .second-benner-right .large-text{
    color: #534C64;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
}
.second-benner .second-benner-right .pink{
    margin: 0rem;
}
.second-benner .second-benner-right .small-text{
    color: #534C64;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 187.5%; /* 187.5% */
}
.second-benner .second-benner-right .small-text span{
    font-weight: 700;
}
.third-benner{
    display: grid;
    grid-template-areas: 
    "four-slide four-slide four-slide four-slide";
    margin: 0rem;
    padding-left: 5rem;
    gap: .5rem;
    justify-content: center;
}
.third-benner-heading{
    font-family: 'Work Sans';
    text-align: center;
}
.third-benner-heading span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.third-benner-heading h2{
    font-size: 3rem;
    font-weight: 700;
    margin: 5rem 0rem 0rem;
}
.third-benner-heading p{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 3rem;
}
.third-benner .four-slide img{
    margin: 0rem;
    padding: 0rem;
    width: 12rem;
    height: 15rem;
}
.third-benner .four-slide p{
    width: auto;
    text-align: left;
    margin-right: 4.6rem;
}
.fourth-benner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-top: 5rem;
    font-family: 'Work Sans';
}
.fourth-benner .first-img{
    position: absolute;
    width: 33%;
    margin-left: 5rem;
    border: 2px solid #4EC5F7;
}
.fourth-benner .second-img{
    position: relative;
    width: 30%;
    margin-top: 20rem;
}
.fourth-benner .fourth-left h3{
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
}
.fourth-benner .fourth-left p{
    color: #534C64;
    text-align: left;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem; /* 166.667% */
    margin-left: 0em;
}
.fourth-benner .fourth-left{
    margin-left: 12rem;
}
.fourth-benner .fourth-left span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    }

/* needs work............... */
.fifth-benner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    font-family: 'Work Sans';
}
.fifth-benner .fifth-left{
    order: -1;
}
.fifth-benner .first-img{
    position: absolute;
    width: 33%;
    margin-left: 5rem;
    border: 2px solid #4EC5F7;
}
.fifth-benner .second-img{
    position: relative;
    width: 30%;
    margin-top: 18rem;
    margin-left: 25rem;
}
.fifth-benner .fifth-left h3{
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
}
.fifth-benner .fifth-left p{
    color: #534C64;
    text-align: left;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem; /* 166.667% */
    margin-left: 0em;
}
.fifth-benner .fifth-left{
    margin-left: 12rem;
}
.fifth-benner .fifth-left span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    }
@media screen and (max-width: 570px) {
    .grid_container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 0rem;
        padding: 0rem;
        margin: 0rem;
        width: 100%;
    }
    .grid_container .left{
        display: grid;
        justify-content: center;
        gap: 1rem;
    }

    .grid_container .right{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 0rem;
        margin: 0rem;
    }
    .grid_container .right .menu{
        grid-template-columns: 1fr; 
    }
    .grid_container .right .menu p{
        display: grid;
        justify-content: space-around;
        border-radius: 5px;
    }
    .grid_container .right .btn{
        padding:0rem .5rem;
        margin: 0rem 7rem 2rem 7rem;
    }
    .first-benner{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 2rem;
        margin: 0rem;
    }
    .first-benner .benner-left{
        display: grid;
        justify-content: center;
        padding: 1rem 0rem;
        margin: 0rem;
    }
    .first-benner .benner-left h1{
        font-size: 4rem;
        text-align: left;
    }
    .first-benner .benner-left h3{
        font-size: 2rem;
        text-align: left;
    }
    .first-benner .benner-left p{
        font-size: .9rem;
        text-align: left;
        padding-left: .5rem;
    }
    .first-benner .benner-left .pink-btn{
        width: 6rem;
        height: 2.5rem;
    }
    .first-benner .benner-left .blue-btn{
        width: 8rem;
        height: 2.5rem;
        margin-left: .5rem;
    }
    .first-benner .benner-right{
        display: grid;
        gap: 1rem;
        order: -1;
        margin: 0rem;
        padding: 0rem 2rem;
        width: auto;
    }
    .second-benner{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0rem;
        margin: 0rem;
    }
    .second-benner .second-benner-left img{
        margin: 2rem 3rem 0rem 3rem;
        padding: 0rem;
        width: 80%;
    }
    .second-benner .second-benner-right{
        margin: 0rem;
        padding: 0rem 4rem ;
        text-align: center;
    }
    .second-benner .second-benner-right h3{
        font-size: 2.5rem;
        text-align: center;
        margin-top: 0rem;
    }
    .second-benner .second-benner-right .large-text{
        font-size: .8rem;
    }
    .second-benner .second-benner-right .small-text{
        font-size: 1.2rem;
    }
    .second-benner .second-benner-right .pink-btn{
        font-size: .7rem;
        width: 7rem;
        height: 2.5rem;
    }
    .third-benner-heading p{
        align-items: center;
        padding: 0rem;
        font-size: 1rem;
        word-wrap: break-word;
        margin: 1.5rem 6rem;
    }
    .third-benner-heading h2{
        align-items: center;
        padding: 0rem 1rem;
        margin: 1rem;
        font-size: 1.8rem;
        word-wrap: break-word;
    }
    .third-benner{
        grid-template-areas: "first"
        "second"
        "third"
        "fourth";
        align-items: center;
        margin: 0rem 1rem;
        padding-left: 6rem;
    }
    .third-benner .four-slide img{
        width: 70%;
    }
    .third-benner .four-slide p{
        word-wrap: break-word;
        text-align: left;
        margin: 1rem 6.5rem 1rem 0rem;
    }
    .fourth-benner{
        grid-template-columns: 1fr;
    }
    .fourth-benner .fourth-left{
        font-size: 1.5rem;
        margin: 0rem;
        padding: 0rem;
        font-weight: 500;
        text-align: center;
    }
    .fourth-benner .fourth-left p{
        font-size: 1.3rem;
        margin: 0rem 4rem;
        padding: 0rem .5rem;
        font-weight: 400;
        text-align: center;
        word-wrap: break-word;
    }
    .fourth-benner .fourth-right .first-img{
        width: 65%;
        align-items: right;
    }
    .fourth-benner .fourth-right .second-img{
        margin: 12rem 0rem 0rem 2rem ;
    }
    .fifth-benner{
        grid-template-columns: 1fr;
    }
    .fifth-benner .fifth-left{
        font-size: 1.5rem;
        margin: 0rem;
        padding: 0rem;
        font-weight: 500;
        text-align: center;
    }
    .fifth-benner .fifth-left p{
        font-size: 1.3rem;
        margin: 0rem 4rem;
        padding: 0rem .5rem;
        font-weight: 400;
        text-align: center;
        word-wrap: break-word;
    }
    .fifth-benner .fifth-right .first-img{
        width: 65%;
        align-items: right;
    }
    .fifth-benner .fifth-right .second-img{
        margin: 12rem 0rem 0rem 20rem ;
    }
}
